######################
.idea/

######################
**/log/
**/.mvn/
**/target/

######################
*.jar
*.war
*.ear
*.db

######################
*.log*

######################
build

######################
.env*
